body{
  background: url("halloween.jpg");
  background-size: cover;
  height: 100vh;
  font-weight: 100;
}

li {display: inline-block;
    color: #aaffaa;
}

.test1 {
    color: red;
    text-transform: uppercase;
    font-size: 10px;
}

.test2 {
    color: orange;
    text-decoration: underline;
    font-size: 20px;

}

.test3 {
    color: white;
    text-decoration: line-through;
    font-size: 30px;
}

.test4 {
    color: green;
    text-decoration: underline overline;
    font-size: 40px;
}

.test5 {
    color: purple;
    text-decoration: overline;
    font-size: 50px;
}

.test6 {
    color: orangered;
    text-decoration-style: dotted;
    font-size: 60px;
}

.test7 {
    color: crimson;
    text-decoration: underline;
    text-decoration-color: black;
    font-size: 70px;
}

.test8 {
    color: goldenrod;
    text-decoration-style: wavy;
    font-size: 80px;
}

@keyframes spin {
  from {
    transform: rotateY(0);
  }
  to {
    transform: rotateY(1turn);
  }
}

.card {
  animation: spin 10s ease;
  animation-iteration-count: infinite;
}

.container {
  perspective: 500px;
}


